.description-pullout,
.description-pullout-g,
.description-pullout-b,
.description-pullout-y {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 400;
    word-break: break-word;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 30px;
    clip-path: polygon( 2% 9%, 13% 3%, 55% 0, 98% 6%, 100% 42%, 99% 91%, 84% 100%, 54% 94%, 24% 100%, 4% 97%, 0 79%);
    line-height: 2.2;
    padding: 45px 70px;
    font-size: 1.3em;
    text-align: center;
    font-style: normal;
    font-family: var(--font-family-text) !important;
    margin: 50px 0;
}

.description-pullout {
    background-color: #88619a;
}

.description-pullout-g {
    background-color: #33A474;
}

.description-pullout-b {
    background-color: #4298B4;
}

.description-pullout-y {
    background-color: #D8A537;
}